body{
    width: 100vw;
    height: 100vh;

    display: flex;
    
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}
.fondos{
    background-color: rgba(100, 0, 0, 0.358);
}
#lista{
    width: 18%;
    height: 80%;
    
    align-self: center;
    
    text-align: center;
    word-wrap: break-word; /* Allow long words to break and wrap */
    overflow: hidden; /* Hide any text that overflows the div */
    text-overflow: ellipsis; /* Display an ellipsis at the end of truncated text */

    border: 10px solid;
    border-left: none;
    border-radius: 80px;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}

#mensaje{
    width: 40%;
    height: 14%;
    
    flex-direction: column; /* Establece la dirección de los elementos hijos en columna */
    justify-content: flex-end;
    
    text-align: center;
    word-wrap: break-word; /* Allow long words to break and wrap */
    overflow: hidden; /* Hide any text that overflows the div */
    text-overflow: ellipsis; /* Display an ellipsis at the end of truncated text */

    border: 10px solid;
    border-left: none;
    border-radius: 80px;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}